In [251]:
from sqlalchemy import create_engine
from config import sql_password

# Open connection to Postgres DB

In [252]:
# Postgres username, password, and database name
POSTGRES_ADDRESS = 'nbadb.ca9dadq6ltaa.us-east-2.rds.amazonaws.com' ## INSERT YOUR DB ADDRESS IF IT'S NOT ON PANOPLY
POSTGRES_USERNAME = 'team'
POSTGRES_PASSWORD = sql_password 
POSTGRES_DBNAME = "NBA_database"

# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:5432/{dbname}'.format(username=POSTGRES_USERNAME, password=POSTGRES_PASSWORD,ipaddress=POSTGRES_ADDRESS,dbname=POSTGRES_DBNAME))

# Create the connection
cnx = create_engine(postgres_str)
cnx

Engine(postgresql://team:***@nbadb.ca9dadq6ltaa.us-east-2.rds.amazonaws.com:5432/NBA_database)

In [253]:
# Query playerStats
playerStats = pd.read_sql_query('''SELECT * FROM player_roaster WHERE year >= 2003 ORDER BY year ASC;''', cnx)
playerStats.head()

,year,player,pos,age,tm,g,gs,mp,per,ts_per,...,ft_per,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,2003,John Crotty,PG,33,DEN,12,0,180.0,7.6,0.431,...,0.600,1,14,15,29,3,0,9,16,41
1,2003,Eddy Curry,C,20,CHI,81,48,1571.0,17.5,0.607,...,0.624,116,237,353,37,18,62,137,226,849
2,2003,Michael Curry,SF,34,DET,78,77,1555.0,5.7,0.474,...,0.800,16,111,127,104,44,4,43,163,236
3,2003,Erick Dampier,C,27,GSW,82,82,1978.0,15.8,0.543,...,0.698,248,295,543,58,27,154,112,242,673
4,2003,Antonio Daniels,SG,27,POR,67,2,872.0,13.3,0.572,...,0.855,11,61,72,85,33,9,32,43,251

# Label the data for ML

In [280]:
# Insert standings to create labels (while no standings in DB right now)
standings = pd.read_sql_query('''SELECT * FROM "Standings";''', cnx)
standings = standings.set_index("Year")
standings.head()

,Champion Name,Second Abbreviation,Champion Abbrev,Second Team,Last Place,Last Abbrev,Second Last,Second Last Abbrev
Year,,,,,,,,
2021,Milwaukee Bucks,PHX,MIL,Phoenix Suns,Houston Rockets,HOU,Detroit Pistons,DET
2020,Los Angeles Lakers,MIA,LAL,Miami Heat,Golden State Warriors,GSW,Cleveland Cavaliers,CLE
2019,Toronto Raptors,GSW,TOR,Golden State Warriors,New York Knicks,NYK,Phoenix Suns,PHX
2018,Golden State Warriors,CLE,GSW,Cleveland Cavaliers,Phoenix Suns,PHX,Memphis Grizzlies,MEM
2017,Golden State Warriors,CLE,GSW,Cleveland Cavaliers,Brooklyn Nets,BKN,Phoenix Suns,PHX

In [255]:
# Create dictionaries for ideal and nonIdeal teams
ideal ={}
nonIdeal={}

for index, row in standings.iterrows():
    ideal[index] = [row["Champion Abbrev"], row["Second Abbrev"]]
    nonIdeal[index] = [row["Last Abbrev"], row["Second Last Abbrev"]]

In [260]:
# Label the playerStats data based on association to best or worst teams in the league
def labelData(row):
    
    convertYear = int(row["year"])
    
    if (row["tm"] == ideal[[convertYear][0]][0]) | (row["tm"] == ideal[[convertYear][0]][1]):
        return int(1)
    elif (row["tm"] == nonIdeal[[convertYear][0]][0]) | (row["tm"] == nonIdeal[[convertYear][0]][1]):
        return int(0)
    
playerStats["label"] = playerStats.apply(labelData, axis=1)
playerStats = playerStats.dropna(subset=['label'])
playerStats.head()

,year,player,pos,age,tm,g,gs,mp,per,ts_per,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,label
0,2003,John Crotty,PG,33,DEN,12,0,180.0,7.6,0.431,...,1,14,15,29,3,0,9,16,41,0
10,2003,Ricky Davis,SG,23,CLE,79,76,3131.0,16.1,0.485,...,97,293,390,436,125,36,277,180,1626,0
15,2003,DeSagana Diop,PF,21,CLE,80,1,943.0,6.7,0.356,...,63,152,215,43,33,81,56,148,119,0
23,2003,Tim Duncan,PF,26,SAS,81,81,3181.0,26.9,0.564,...,259,784,1043,316,55,237,248,231,1884,1
30,2003,Danny Ferry,SF,36,SAS,64,1,601.0,5.1,0.459,...,20,55,75,21,7,9,27,55,119,1

# Data Preprocessing

In [261]:
playerStats.columns

Index(['year', 'player', 'pos', 'age', 'tm', 'g', 'gs', 'mp', 'per', 'ts_per',
       'par3', 'ftr', 'orb_per', 'drb_per', 'trb_per', 'ast_per', 'stl_per',
       'blk_per', 'tov_per', 'usg_per', 'ows', 'dws', 'ws', 'ws_48', 'obpm',
       'dbpm', 'bpm', 'vorp', 'fg', 'fga', 'fg_per', 'p3', 'pa3', 'p3_per',
       'p2', 'pa2', 'p2_per', 'efg_per', 'ft', 'fta', 'ft_per', 'orb', 'drb',
       'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'label'],
      dtype='object')

In [262]:
# Encode position and drop other string values
players_binary_encoded = pd.get_dummies(playerStats, columns=["pos"]).drop(["player",'tm'], axis=1)
players_binary_encoded.head()

,year,age,g,gs,mp,per,ts_per,par3,ftr,orb_per,...,blk,tov,pf,pts,label,pos_C,pos_PF,pos_PG,pos_SF,pos_SG
0,2003,33,12,0,180.0,7.6,0.431,0.317,0.366,0.6,...,0,9,16,41,0,0,0,1,0,0
10,2003,23,79,76,3131.0,16.1,0.485,0.139,0.316,3.4,...,36,277,180,1626,0,0,0,0,0,1
15,2003,21,80,1,943.0,6.7,0.356,0.000,0.195,7.3,...,81,56,148,119,0,0,1,0,0,0
23,2003,26,81,81,3181.0,26.9,0.564,0.016,0.455,9.9,...,237,248,231,1884,1,0,1,0,0,0
30,2003,36,64,1,601.0,5.1,0.459,0.484,0.105,4.0,...,9,27,55,119,1,0,0,0,1,0

In [263]:
players_binary_encoded.head()

,year,age,g,gs,mp,per,ts_per,par3,ftr,orb_per,...,blk,tov,pf,pts,label,pos_C,pos_PF,pos_PG,pos_SF,pos_SG
0,2003,33,12,0,180.0,7.6,0.431,0.317,0.366,0.6,...,0,9,16,41,0,0,0,1,0,0
10,2003,23,79,76,3131.0,16.1,0.485,0.139,0.316,3.4,...,36,277,180,1626,0,0,0,0,0,1
15,2003,21,80,1,943.0,6.7,0.356,0.000,0.195,7.3,...,81,56,148,119,0,0,1,0,0,0
23,2003,26,81,81,3181.0,26.9,0.564,0.016,0.455,9.9,...,237,248,231,1884,1,0,1,0,0,0
30,2003,36,64,1,601.0,5.1,0.459,0.484,0.105,4.0,...,9,27,55,119,1,0,0,0,1,0

In [264]:
players_binary_encoded = players_binary_encoded.dropna(axis=1)
players_binary_encoded.isnull().sum(axis = 0)

year       0
age        0
g          0
gs         0
mp         0
per        0
orb_per    0
drb_per    0
trb_per    0
ast_per    0
stl_per    0
blk_per    0
usg_per    0
ows        0
dws        0
ws         0
ws_48      0
obpm       0
dbpm       0
bpm        0
vorp       0
fg         0
fga        0
p3         0
pa3        0
p2         0
pa2        0
ft         0
fta        0
orb        0
drb        0
trb        0
ast        0
stl        0
blk        0
tov        0
pf         0
pts        0
label      0
pos_C      0
pos_PF     0
pos_PG     0
pos_SF     0
pos_SG     0
dtype: int64

# Create model

In [265]:
# Import dependencies
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [266]:
# Define the features set.
X = players_binary_encoded.copy()
X = X.drop("label", axis=1)
X.head()

,year,age,g,gs,mp,per,orb_per,drb_per,trb_per,ast_per,...,stl,blk,tov,pf,pts,pos_C,pos_PF,pos_PG,pos_SF,pos_SG
0,2003,33,12,0,180.0,7.6,0.6,9.5,4.9,26.7,...,3,0,9,16,41,0,0,1,0,0
10,2003,23,79,76,3131.0,16.1,3.4,10.7,7.0,26.5,...,125,36,277,180,1626,0,0,0,0,1
15,2003,21,80,1,943.0,6.7,7.3,18.4,12.8,6.9,...,33,81,56,148,119,0,1,0,0,0
23,2003,26,81,81,3181.0,26.9,9.9,27.3,19.0,19.5,...,55,237,248,231,1884,0,1,0,0,0
30,2003,36,64,1,601.0,5.1,4.0,10.1,7.2,5.3,...,7,9,27,55,119,0,0,0,1,0

In [267]:
# Define the target set.
y = players_binary_encoded["label"].values
y[:5]

array([0, 0, 0, 1, 1])

In [268]:
# Splitting into Train and Test sets into an 80/20 split.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, train_size=0.80)

In [269]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(802, 43)
(201, 43)
(802,)
(201,)

In [270]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [271]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()

# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [272]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)

In [273]:
predictions

array([1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 1])

In [274]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           72           17
Actual 1           14           98

In [275]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.845771144278607

In [276]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           72           17
Actual 1           14           98

Accuracy Score : 0.845771144278607
Classification Report
              precision    recall  f1-score   support

           0       0.84      0.81      0.82        89
           1       0.85      0.88      0.86       112

    accuracy                           0.85       201
   macro avg       0.84      0.84      0.84       201
weighted avg       0.85      0.85      0.85       201

Let's go over the results in the classification report:

Precision: Precision is the measure of how reliable a positive classification is. From our results, the precision for the good loan applications can be determined by the ratio TP/(TP + FP), which is 50/(50 + 22) = 0.69. The precision for the bad loan applications can be determined as follows: 19/(19 + 34) = 0.358. A low precision is indicative of a large number of false positives—of the 53 loan applications we predicted to be bad applications, 34 were actually good loan applications.

Recall: Recall is the ability of the classifier to find all the positive samples. It can be determined by the ratio: TP/(TP + FN), or 50/(50 + 34) = 0.595 for the good loans and 19/(19 + 22) = 0.463 for the bad loans. A low recall is indicative of a large number of false negatives.

F1 score: F1 score is a weighted average of the true positive rate (recall) and precision, where the best score is 1.0 and the worst is 0.0.

Support: Support is the number of actual occurrences of the class in the specified dataset. For our results, there are 84 actual occurrences for the good loans and 41 actual occurrences for bad loans.