In [1]:
import os
import pandas as pd
import re
import numpy as np

In [2]:
pwd = os.getcwd()
old_salaries = os.path.join(pwd, 'Resources', 'salaries', 'salaries_1985to2018.csv')
old_salaries_df = pd.read_csv(old_salaries)

In [3]:
new_salaries = os.path.join(pwd, 'Resources', 'salaries', '1999-2022 Salaries.csv')
new_salaries_df = pd.read_csv(new_salaries)

In [4]:
players = os.path.join(pwd, 'Resources', 'salaries', 'players.csv')
players_df = pd.read_csv(players)

In [5]:
print(old_salaries_df.shape)
old_salaries_df.head()

(14163, 7)

,league,player_id,salary,season,season_end,season_start,team
0,NBA,abdelal01,395000,1990-91,1991,1990,Portland Trail Blazers
1,NBA,abdelal01,494000,1991-92,1992,1991,Portland Trail Blazers
2,NBA,abdelal01,500000,1992-93,1993,1992,Boston Celtics
3,NBA,abdelal01,805000,1993-94,1994,1993,Boston Celtics
4,NBA,abdelal01,650000,1994-95,1995,1994,Sacramento Kings

In [6]:
new_salaries_df.head()

   RK                   NAME                   TEAM       SALARY     season
0   1      Stephen Curry, PG  Golden State Warriors  $45,780,966  2021-2022
1   2       James Harden, SG          Brooklyn Nets  $44,310,840  2021-2022
2   3          John Wall, PG        Houston Rockets  $44,310,840  2021-2022
3   4  Russell Westbrook, PG     Los Angeles Lakers  $44,211,146  2021-2022
4   5       Kevin Durant, PF          Brooklyn Nets  $42,018,900  2021-2022

In [7]:
players_df.head()

,_id,birthDate,birthPlace,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PER,career_PTS,...,draft_pick,draft_round,draft_team,draft_year,height,highSchool,name,position,shoots,weight
0,abdelal01,"June 24, 1968","Cairo, Egypt",0.3,50.2,0.0,70.1,256,13.0,5.7,...,25th overall,1st round,Portland Trail Blazers,1990,6-10,"Bloomfield in Bloomfield, New Jersey",Alaa Abdelnaby,Power Forward,Right,240lb
1,abdulza01,"April 7, 1946","Brooklyn, New York",1.2,42.8,NaN,72.8,505,15.1,9.0,...,5th overall,1st round,Cincinnati Royals,1968,6-9,"John Jay in Brooklyn, New York",Zaid Abdul-Aziz,Power Forward and Center,Right,235lb
2,abdulka01,"April 16, 1947","New York, New York",3.6,55.9,5.6,72.1,1560,24.6,24.6,...,1st overall,1st round,Milwaukee Bucks,1969,7-2,"Power Memorial in New York, New York",Kareem Abdul-Jabbar,Center,Right,225lb
3,abdulma02,"March 9, 1969","Gulfport, Mississippi",3.5,44.2,35.4,90.5,586,15.4,14.6,...,3rd overall,1st round,Denver Nuggets,1990,6-1,"Gulfport in Gulfport, Mississippi",Mahmoud Abdul-Rauf,Point Guard,Right,162lb
4,abdulta01,"November 3, 1974","Maisons Alfort, France",1.1,41.7,23.7,70.3,236,11.4,7.8,...,11th overall,1st round,Sacramento Kings,1997,6-6,"Lycee Aristide Briand in Evreux, France",Tariq Abdul-Wahad,Shooting Guard,Right,223lb

In [8]:
# Clean the old salaries so we can merge on the player id
# Drop the league column
old_salaries_df.drop(columns = 'league', inplace = True)

# Change the columns so that everything will be lowered cased and reorganized 
# we want to see player id, team, salary, season info
old_salaries_df.rename(columns = {"player_id": "_id"}, inplace=True)
new_col = ['_id', 'team', 'salary', 'season', 'season_end', 'season_start']
old_salaries_df = old_salaries_df[new_col]

In [9]:
old_salaries_df

,_id,team,salary,season,season_end,season_start
0,abdelal01,Portland Trail Blazers,395000,1990-91,1991,1990
1,abdelal01,Portland Trail Blazers,494000,1991-92,1992,1991
2,abdelal01,Boston Celtics,500000,1992-93,1993,1992
3,abdelal01,Boston Celtics,805000,1993-94,1994,1993
4,abdelal01,Sacramento Kings,650000,1994-95,1995,1994
...,...,...,...,...,...,...
14158,zipsepa01,Chicago Bulls,750000,2016-17,2017,2016
14159,zipsepa01,Chicago Bulls,1312611,2017-18,2018,2017
14160,zizican01,Cleveland Cavaliers,1645200,2017-18,2018,2017
14161,zubaciv01,Los Angeles Lakers,1034956,2016-17,2017,2016
14162,zubaciv01,Los Angeles Lakers,1312611,2017-18,2018,2017

In [10]:
merged_df = pd.merge(players_df, old_salaries_df, how= "right", on="_id")

In [11]:
print(merged_df.shape)
merged_df.sample(10)

(14163, 29)

,_id,birthDate,birthPlace,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PER,career_PTS,...,highSchool,name,position,shoots,weight,team,salary,season,season_end,season_start
7132,knighbr03,"December 2, 1991","Miami, Florida",4.0,41.3,35.4,81.2,421,13.9,14.5,...,"Pine Crest School in Fort Lauderdale, Florida",Brandon Knight,Point Guard and Shooting Guard,Right,195lb,Detroit Pistons,2755560,2012-13,2013,2012
11216,sandemi01,"May 7, 1960","Vidalia, Louisiana",1.4,48.2,22.1,76.9,648,11.9,8.0,...,"DeRidder in DeRidder, Louisiana",Mike Sanders,Small Forward,Right,210lb,Phoenix Suns,70000,1984-85,1985,1984
4078,finlemi01,"March 6, 1973","Melrose Park, Illinois",2.9,44.4,37.5,81.1,1103,16.0,15.7,...,"Proviso East in Maywood, Illinois",Michael Finley,Small Forward and Shooting Guard,Right,215lb,Dallas Mavericks,816840,1997-98,1998,1997
5607,hicksjj01,"September 4, 1988","Atlanta, Georgia",0.8,50.5,0.0,61.7,534,16.1,9.5,...,"Wheeler in Marietta, Georgia",J.J. Hickson,Center and Power Forward,Right,242lb,Washington Wizards,366337,2015-16,2016,2015
5134,hamilze01,"April 27, 1975","Floral Park, New York",0.2,44.0,-,66.0,134,14.0,4.4,...,"Sewanhaka in Floral Park, New York",Zendon Hamilton,Center and Power Forward,Left,250lb,Philadelphia 76ers,485619,2003-04,2004,2003
8959,mournal01,"February 8, 1970","Chesapeake, Virginia",1.1,52.7,24.7,69.2,838,21.2,17.1,...,"Indian River in Chesapeake, Virginia",Alonzo Mourning,Power Forward and Center,Right,240lb,Toronto Raptors,4000000,2005-06,2006,2005
8324,mcdyean01,"September 7, 1974","Quitman, Mississippi",1.3,49.7,11.7,67.0,1015,17.2,12.0,...,"Quitman in Quitman, Mississippi",Antonio McDyess,Center and Power Forward,Right,220lb,Detroit Pistons,4903000,2004-05,2005,2004
4418,garneke01,"May 19, 1976","Mauldin, South Carolina",3.7,49.7,27.5,78.9,1462,22.7,17.8,...,"Farragut Career Academy in Chicago, Illinois",Kevin Garnett,Small Forward and Center and Power Forward,Right,240lb,Minnesota Timberwolves,25200000,2002-03,2003,2002
6635,johnsli01,"June 13, 1980","Chicago, Illinois",0.4,41.6,30.5,69.9,151,10.9,3.9,...,"Providence St. Mel in Chicago, Illinois",Linton Johnson,Small Forward and Power Forward,Right,205lb,Phoenix Suns,283953,2007-08,2008,2007
11136,russeda01,"February 23, 1996","Louisville, Kentucky",5.1,41.9,35.3,76.2,272,16.0,16.5,...,"Montverde Academy in Montverde, Florida",D'Angelo Russell,Point Guard,Left,198lb,Brooklyn Nets,5562360,2017-18,2018,2017

In [12]:
merged_df.columns.tolist()

['_id',
 'birthDate',
 'birthPlace',
 'career_AST',
 'career_FG%',
 'career_FG3%',
 'career_FT%',
 'career_G',
 'career_PER',
 'career_PTS',
 'career_TRB',
 'career_WS',
 'career_eFG%',
 'college',
 'draft_pick',
 'draft_round',
 'draft_team',
 'draft_year',
 'height',
 'highSchool',
 'name',
 'position',
 'shoots',
 'weight',
 'team',
 'salary',
 'season',
 'season_end',
 'season_start']

In [13]:
col_removed = ['_id', 'birthDate', 'birthPlace', 'college', 'highSchool', 'weight', 'career_FG%', 'career_AST', 'career_FG3%', 
             'career_FT%', 'career_G',  'career_PER', 'career_PTS', 'career_TRB', 'career_WS', 'career_eFG%', 'shoots']
merged_df.drop(columns=col_removed, inplace = True)
merged_df

,draft_pick,draft_round,draft_team,draft_year,height,name,position,team,salary,season,season_end,season_start
0,25th overall,1st round,Portland Trail Blazers,1990,6-10,Alaa Abdelnaby,Power Forward,Portland Trail Blazers,395000,1990-91,1991,1990
1,25th overall,1st round,Portland Trail Blazers,1990,6-10,Alaa Abdelnaby,Power Forward,Portland Trail Blazers,494000,1991-92,1992,1991
2,25th overall,1st round,Portland Trail Blazers,1990,6-10,Alaa Abdelnaby,Power Forward,Boston Celtics,500000,1992-93,1993,1992
3,25th overall,1st round,Portland Trail Blazers,1990,6-10,Alaa Abdelnaby,Power Forward,Boston Celtics,805000,1993-94,1994,1993
4,25th overall,1st round,Portland Trail Blazers,1990,6-10,Alaa Abdelnaby,Power Forward,Sacramento Kings,650000,1994-95,1995,1994
...,...,...,...,...,...,...,...,...,...,...,...,...
14158,48th overall,2nd round,Chicago Bulls,2016,6-8,Paul Zipser,Small Forward,Chicago Bulls,750000,2016-17,2017,2016
14159,48th overall,2nd round,Chicago Bulls,2016,6-8,Paul Zipser,Small Forward,Chicago Bulls,1312611,2017-18,2018,2017
14160,23rd overall,1st round,Boston Celtics,2016,6-11,Ante Zizic,Center,Cleveland Cavaliers,1645200,2017-18,2018,2017
14161,32nd overall,2nd round,Los Angeles Lakers,2016,7-1,Ivica Zubac,Center,Los Angeles Lakers,1034956,2016-17,2017,2016
14162,32nd overall,2nd round,Los Angeles Lakers,2016,7-1,Ivica Zubac,Center,Los Angeles Lakers,1312611,2017-18,2018,2017

In [14]:
merged_df.columns.tolist()

['draft_pick',
 'draft_round',
 'draft_team',
 'draft_year',
 'height',
 'name',
 'position',
 'team',
 'salary',
 'season',
 'season_end',
 'season_start']

In [15]:
col_reorder = ['season', 'season_end', 'season_start', 'name', 'team', 'position', 'salary', 'height','draft_pick',
               'draft_round','draft_team','draft_year']
merged_df = merged_df[col_reorder]

In [16]:
print(merged_df.shape)
merged_df.head()

(14163, 12)

,season,season_end,season_start,name,team,position,salary,height,draft_pick,draft_round,draft_team,draft_year
0,1990-91,1991,1990,Alaa Abdelnaby,Portland Trail Blazers,Power Forward,395000,6-10,25th overall,1st round,Portland Trail Blazers,1990
1,1991-92,1992,1991,Alaa Abdelnaby,Portland Trail Blazers,Power Forward,494000,6-10,25th overall,1st round,Portland Trail Blazers,1990
2,1992-93,1993,1992,Alaa Abdelnaby,Boston Celtics,Power Forward,500000,6-10,25th overall,1st round,Portland Trail Blazers,1990
3,1993-94,1994,1993,Alaa Abdelnaby,Boston Celtics,Power Forward,805000,6-10,25th overall,1st round,Portland Trail Blazers,1990
4,1994-95,1995,1994,Alaa Abdelnaby,Sacramento Kings,Power Forward,650000,6-10,25th overall,1st round,Portland Trail Blazers,1990

In [17]:
merged_df.dtypes

season          object
season_end       int64
season_start     int64
name            object
team            object
position        object
salary           int64
height          object
draft_pick      object
draft_round     object
draft_team      object
draft_year      object
dtype: object

In [18]:
new_salaries_df.drop(columns= 'RK', inplace = True)

In [19]:
new_salaries_df

                        NAME                   TEAM       SALARY     season
0          Stephen Curry, PG  Golden State Warriors  $45,780,966  2021-2022
1           James Harden, SG          Brooklyn Nets  $44,310,840  2021-2022
2              John Wall, PG        Houston Rockets  $44,310,840  2021-2022
3      Russell Westbrook, PG     Los Angeles Lakers  $44,211,146  2021-2022
4           Kevin Durant, PF          Brooklyn Nets  $42,018,900  2021-2022
...                      ...                    ...          ...        ...
10631      Al Harrington, PF         Indiana Pacers     $745,000  1999-2000
10632           Tim James, F             Miami Heat     $728,000  1999-2000
10633      Jumaine Jones, SF     Philadelphia 76ers     $684,000  1999-2000
10634      Scott Padgett, PF              Utah Jazz     $679,000  1999-2000
10635       Rafer Alston, PG        Milwaukee Bucks     $301,000  1999-2000

[10636 rows x 4 columns]

In [20]:
# remove the commas and the dollar sign in the salary column
new_salaries_df['SALARY'] = new_salaries_df['SALARY'].str.replace(',', '').str.replace('$', '').astype(int)
new_salaries_df

<ipython-input-20-5412e29578e3>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  new_salaries_df['SALARY'] = new_salaries_df['SALARY'].str.replace(',', '').str.replace('$', '').astype(int)

                        NAME                   TEAM    SALARY     season
0          Stephen Curry, PG  Golden State Warriors  45780966  2021-2022
1           James Harden, SG          Brooklyn Nets  44310840  2021-2022
2              John Wall, PG        Houston Rockets  44310840  2021-2022
3      Russell Westbrook, PG     Los Angeles Lakers  44211146  2021-2022
4           Kevin Durant, PF          Brooklyn Nets  42018900  2021-2022
...                      ...                    ...       ...        ...
10631      Al Harrington, PF         Indiana Pacers    745000  1999-2000
10632           Tim James, F             Miami Heat    728000  1999-2000
10633      Jumaine Jones, SF     Philadelphia 76ers    684000  1999-2000
10634      Scott Padgett, PF              Utah Jazz    679000  1999-2000
10635       Rafer Alston, PG        Milwaukee Bucks    301000  1999-2000

[10636 rows x 4 columns]

In [21]:
split_df = new_salaries_df['NAME'].str.split(pat=",", expand = True)

In [22]:
split_df.columns= ['name', 'position']

In [23]:
split_df.head()

                name position
0      Stephen Curry       PG
1       James Harden       SG
2          John Wall       PG
3  Russell Westbrook       PG
4       Kevin Durant       PF

In [24]:
split_df['position'].unique()

array([' PG', ' SG', ' PF', ' SF', ' C', ' G', ' F', ' NA', ' GF'],
      dtype=object)

In [25]:
merged_df['position'].unique()

array(['Power Forward', 'Center', 'Point Guard', 'Shooting Guard',
       'Center and Small Forward and Power Forward',
       'Power Forward and Small Forward', 'Center and Power Forward',
       'Small Forward', 'Shooting Guard and Small Forward',
       'Shooting Guard and Point Guard', 'Power Forward and Center',
       'Point Guard and Shooting Guard',
       'Shooting Guard and Small Forward and Point Guard',
       'Small Forward and Shooting Guard',
       'Point Guard and Power Forward and Small Forward and Shooting Guard',
       'Small Forward and Power Forward',
       'Small Forward and Power Forward and Shooting Guard',
       'Power Forward and Center and Small Forward',
       'Small Forward and Center and Power Forward',
       'Shooting Guard and Small Forward and Power Forward',
       'Shooting Guard and Point Guard and Small Forward',
       'Center and Power Forward and Small Forward',
       'Power Forward and Shooting Guard',
       'Small Forward and Shooting Guard and Power Forward',
       'Power Forward and Small Forward and Shooting Guard',
       'Small Forward and Shooting Guard and Point Guard',
       'Small Forward and Power Forward and Center',
       'Small Forward and Point Guard and Shooting Guard',
       'Small Forward and Center',
       'Shooting Guard and Power Forward and Point Guard',
       'Power Forward and Shooting Guard and Small Forward',
       'Shooting Guard and Power Forward and Small Forward',
       'Point Guard and Shooting Guard and Small Forward',
       'Power Forward and Small Forward and Center',
       'Point Guard and Small Forward and Shooting Guard',
       'Point Guard and Small Forward'], dtype=object)

In [26]:
# # new function that changes the columns name. 
# def clean_pos(player_position):
#     players_position = dict(player_position)
#     def change_column_name(old_name, new_name):
#         if old_name in play_positions:
#             play_position[new_name] = play_position.pop(old_name)
#         change_column_name('PG', 'Point Guard')
#         change_column_name('SG', 'Shooting Guard')
#         change_column_name('PF', 'Power Forward')
#         change_column_name('SF', 'Small Forward')
#         change_column_name('C', 'Center')
#         change_column_name('G', 'Shooting Guard and Point Guard')
#         change_column_name('F', 'Small Forward and Power Forward')
#         change_column_name('GF', 'Small Forward and Shooting Guard')

#         return positions

In [27]:
# players_position = dict(split_df)

In [28]:
# for players in players_position:
#     clean_pos(split_df)

In [29]:
positions_dict = {' PG':'Point Guard',' SG':'Shooting Guard',' PF':'Power Forward',
                  ' SF':'Small Forward', ' C':'Center', ' G':'Shooting Guard and Point Guard',
                 ' F':'Small Forward and Power Forward', ' GF':'Small Forward and Shooting Guard'}

In [30]:
# https://stackoverflow.com/questions/57873297/pandas-to-replace-value-using-map-function
split_df['position'] = split_df['position'].map(positions_dict)

In [31]:
split_df.head(20)

                     name        position
0           Stephen Curry     Point Guard
1            James Harden  Shooting Guard
2               John Wall     Point Guard
3       Russell Westbrook     Point Guard
4            Kevin Durant   Power Forward
5            LeBron James   Small Forward
6   Giannis Antetokounmpo   Power Forward
7          Damian Lillard     Point Guard
8             Paul George  Shooting Guard
9           Klay Thompson  Shooting Guard
10           Kemba Walker     Point Guard
11           Jimmy Butler   Small Forward
12          Kawhi Leonard   Small Forward
13          Tobias Harris   Power Forward
14        Khris Middleton   Small Forward
15          Anthony Davis   Power Forward
16            Rudy Gobert          Center
17           Kyrie Irving     Point Guard
18           Bradley Beal  Shooting Guard
19          Pascal Siakam   Power Forward

In [32]:
dates_df = new_salaries_df['season'].str.split(pat="-", expand = True).astype(int)
dates_df.columns=['season_start', 'season_end']
dates_df.head()

   season_start  season_end
0          2021        2022
1          2021        2022
2          2021        2022
3          2021        2022
4          2021        2022

In [33]:
new_salaries_df = new_salaries_df.merge(split_df, left_index=True, right_index= True)
new_salaries_df = new_salaries_df.drop(['NAME'], axis =1)
new_salaries_df.head()

,TEAM,SALARY,season,name,position
0,Golden State Warriors,45780966,2021-2022,Stephen Curry,Point Guard
1,Brooklyn Nets,44310840,2021-2022,James Harden,Shooting Guard
2,Houston Rockets,44310840,2021-2022,John Wall,Point Guard
3,Los Angeles Lakers,44211146,2021-2022,Russell Westbrook,Point Guard
4,Brooklyn Nets,42018900,2021-2022,Kevin Durant,Power Forward

In [34]:
new_salaries_df = pd.concat([new_salaries_df, dates_df], axis=1)
new_salaries_df.head()

,TEAM,SALARY,season,name,position,season_start,season_end
0,Golden State Warriors,45780966,2021-2022,Stephen Curry,Point Guard,2021,2022
1,Brooklyn Nets,44310840,2021-2022,James Harden,Shooting Guard,2021,2022
2,Houston Rockets,44310840,2021-2022,John Wall,Point Guard,2021,2022
3,Los Angeles Lakers,44211146,2021-2022,Russell Westbrook,Point Guard,2021,2022
4,Brooklyn Nets,42018900,2021-2022,Kevin Durant,Power Forward,2021,2022

In [35]:
new_salaries_df = new_salaries_df[['season', 'season_end', 'season_start', 'name', 'TEAM', 'position', 'SALARY']]
new_salaries_df.rename(columns = {"TEAM": "team", "SALARY":"salary"}, inplace=True)
new_salaries_df.head()

,season,season_end,season_start,name,team,position,salary
0,2021-2022,2022,2021,Stephen Curry,Golden State Warriors,Point Guard,45780966
1,2021-2022,2022,2021,James Harden,Brooklyn Nets,Shooting Guard,44310840
2,2021-2022,2022,2021,John Wall,Houston Rockets,Point Guard,44310840
3,2021-2022,2022,2021,Russell Westbrook,Los Angeles Lakers,Point Guard,44211146
4,2021-2022,2022,2021,Kevin Durant,Brooklyn Nets,Power Forward,42018900

In [36]:
new_salaries_df.dtypes

season          object
season_end       int32
season_start     int32
name            object
team            object
position        object
salary           int32
dtype: object

In [37]:
current_salaries_df = new_salaries_df.loc[new_salaries_df['season_start'] >= 2018]
current_salaries_df

,season,season_end,season_start,name,team,position,salary
0,2021-2022,2022,2021,Stephen Curry,Golden State Warriors,Point Guard,45780966
1,2021-2022,2022,2021,James Harden,Brooklyn Nets,Shooting Guard,44310840
2,2021-2022,2022,2021,John Wall,Houston Rockets,Point Guard,44310840
3,2021-2022,2022,2021,Russell Westbrook,Los Angeles Lakers,Point Guard,44211146
4,2021-2022,2022,2021,Kevin Durant,Brooklyn Nets,Power Forward,42018900
...,...,...,...,...,...,...,...
2086,2018-2019,2019,2018,Jonathan Gibson,Boston Celtics,Shooting Guard and Point Guard,17092
2087,2018-2019,2019,2018,Tarik Phillip,Washington Wizards,Shooting Guard and Point Guard,9474
2088,2018-2019,2019,2018,Duncan Robinson,Miami Heat,Shooting Guard,9474
2089,2018-2019,2019,2018,Theo Pinson,Brooklyn Nets,Shooting Guard,4737
2090,2018-2019,2019,2018,Kendrick Nunn,Los Angeles Lakers,Shooting Guard and Point Guard,4737

In [38]:
merged_df

,season,season_end,season_start,name,team,position,salary,height,draft_pick,draft_round,draft_team,draft_year
0,1990-91,1991,1990,Alaa Abdelnaby,Portland Trail Blazers,Power Forward,395000,6-10,25th overall,1st round,Portland Trail Blazers,1990
1,1991-92,1992,1991,Alaa Abdelnaby,Portland Trail Blazers,Power Forward,494000,6-10,25th overall,1st round,Portland Trail Blazers,1990
2,1992-93,1993,1992,Alaa Abdelnaby,Boston Celtics,Power Forward,500000,6-10,25th overall,1st round,Portland Trail Blazers,1990
3,1993-94,1994,1993,Alaa Abdelnaby,Boston Celtics,Power Forward,805000,6-10,25th overall,1st round,Portland Trail Blazers,1990
4,1994-95,1995,1994,Alaa Abdelnaby,Sacramento Kings,Power Forward,650000,6-10,25th overall,1st round,Portland Trail Blazers,1990
...,...,...,...,...,...,...,...,...,...,...,...,...
14158,2016-17,2017,2016,Paul Zipser,Chicago Bulls,Small Forward,750000,6-8,48th overall,2nd round,Chicago Bulls,2016
14159,2017-18,2018,2017,Paul Zipser,Chicago Bulls,Small Forward,1312611,6-8,48th overall,2nd round,Chicago Bulls,2016
14160,2017-18,2018,2017,Ante Zizic,Cleveland Cavaliers,Center,1645200,6-11,23rd overall,1st round,Boston Celtics,2016
14161,2016-17,2017,2016,Ivica Zubac,Los Angeles Lakers,Center,1034956,7-1,32nd overall,2nd round,Los Angeles Lakers,2016
14162,2017-18,2018,2017,Ivica Zubac,Los Angeles Lakers,Center,1312611,7-1,32nd overall,2nd round,Los Angeles Lakers,2016

In [39]:
merged_df = merged_df.drop(columns = ['height', 'draft_pick', 'draft_round', 'draft_team', 'draft_year'], axis = 1)
merged_df

,season,season_end,season_start,name,team,position,salary
0,1990-91,1991,1990,Alaa Abdelnaby,Portland Trail Blazers,Power Forward,395000
1,1991-92,1992,1991,Alaa Abdelnaby,Portland Trail Blazers,Power Forward,494000
2,1992-93,1993,1992,Alaa Abdelnaby,Boston Celtics,Power Forward,500000
3,1993-94,1994,1993,Alaa Abdelnaby,Boston Celtics,Power Forward,805000
4,1994-95,1995,1994,Alaa Abdelnaby,Sacramento Kings,Power Forward,650000
...,...,...,...,...,...,...,...
14158,2016-17,2017,2016,Paul Zipser,Chicago Bulls,Small Forward,750000
14159,2017-18,2018,2017,Paul Zipser,Chicago Bulls,Small Forward,1312611
14160,2017-18,2018,2017,Ante Zizic,Cleveland Cavaliers,Center,1645200
14161,2016-17,2017,2016,Ivica Zubac,Los Angeles Lakers,Center,1034956
14162,2017-18,2018,2017,Ivica Zubac,Los Angeles Lakers,Center,1312611

In [40]:
final_salaries = merged_df.append(current_salaries_df, ignore_index=True, sort=False)
final_salaries

,season,season_end,season_start,name,team,position,salary
0,1990-91,1991,1990,Alaa Abdelnaby,Portland Trail Blazers,Power Forward,395000
1,1991-92,1992,1991,Alaa Abdelnaby,Portland Trail Blazers,Power Forward,494000
2,1992-93,1993,1992,Alaa Abdelnaby,Boston Celtics,Power Forward,500000
3,1993-94,1994,1993,Alaa Abdelnaby,Boston Celtics,Power Forward,805000
4,1994-95,1995,1994,Alaa Abdelnaby,Sacramento Kings,Power Forward,650000
...,...,...,...,...,...,...,...
16249,2018-2019,2019,2018,Jonathan Gibson,Boston Celtics,Shooting Guard and Point Guard,17092
16250,2018-2019,2019,2018,Tarik Phillip,Washington Wizards,Shooting Guard and Point Guard,9474
16251,2018-2019,2019,2018,Duncan Robinson,Miami Heat,Shooting Guard,9474
16252,2018-2019,2019,2018,Theo Pinson,Brooklyn Nets,Shooting Guard,4737
16253,2018-2019,2019,2018,Kendrick Nunn,Los Angeles Lakers,Shooting Guard and Point Guard,4737

In [41]:
final_salaries.dtypes

season          object
season_end       int64
season_start     int64
name            object
team            object
position        object
salary           int64
dtype: object

In [42]:
# save file path
save_file_path = os.path.join(pwd,'salaries_1985to2022.csv')
final_salaries.to_csv(save_file_path, index = False)

In [43]:
from sqlalchemy import create_engine
import psycopg2 
import io
from config import password

DB_address = 'nbadb.ca9dadq6ltaa.us-east-2.rds.amazonaws.com'
engine = create_engine(f'postgresql://team:{password}@{DB_address}:5432/NBA_database')
final_salaries.head(0).to_sql('salaries_1985to2022', engine, if_exists='replace',index=False) #drops old table and creates new empty table

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
final_salaries.to_csv(save_file_path, header= False, index = False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'salaries_1985to2022', null="") # null values become ''
conn.commit()